$def with (content)
<!DOCTYPE html>
<html>
<head>
<meta charset='utf-8'>

<!--<link href='https://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet'
type='text/css'> --!>
<link rel="stylesheet" type="text/css" href="/static/css/stylesheet.css" media="screen" />
<link rel="stylesheet" type="text/css" href="/static/css/pygment_trac.css" media="screen" />
<link rel="stylesheet" type="text/css" href="/static/css/print.css" media="print" />

<title>$content.get('title')</title>
<!-- <title>index</title>-->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body>
<header>
<div class="inner">
<h2>润土网-为你的健康而生</h2>
<!--<h3>为消费者代言</h3>!-->
<h3>  </h3>
<!--<a href="" class="button"><small></small>为消费者代言</a>--!>
<a class="button" style="font-size:18px;">为消费者代言</a>
</div>
</header>

<div id="content-wrapper">
<div class="inner clearfix">

<section id="main-content">

$:content

</section>
<aside id="sidebar">
<!--<p><a href="">欢迎来自$:content.region的朋友</a></p>--!>
<p>欢迎来自$:content.region的朋友</p>
<p>$:content.weather</p>
<p>空气质量:$content.air_condition</p>
</aside>
</div>
</div>
</body>
</html>
