$def with (content)
<!DOCTYPE html>
<html>
<head>
<meta charset='utf-8'>

<link href='https://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="/static/css/stylesheet.css" media="screen" />
<link rel="stylesheet" type="text/css" href="/static/css/pygment_trac.css" media="screen" />
<link rel="stylesheet" type="text/css" href="/static/css/print.css" media="print" />

<title>$content.get('title')</title>
<!-- <title>index</title>-->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body>
<header>
<div class="inner">
<h2>润土网，为你的环境保护而生</h2>
<h3>中国第一环保器械测评</h3>
<a href="https://www.baidu.cn" class="button"><small>RainToo</small></a>
</div>
</header>

<div id="content-wrapper">
<div class="inner clearfix">

<section id="main-content">

$:content

</section>
<aside id="sidebar">
<p><a href="http://www.baidu.cn">欢迎来自北京的朋友</a></p>
<p>天气晴空万里</p>
<p>雾霾150</p>
</aside>
</div>
</div>
</body>
</html>
