<table cellspacing="0" cellpadding="0" class="fl_tb">
<tr><td class="fl_g" width="20%">
</td>
<td class="fl_g" width="20%">
</td>
<td class="fl_g" width="20%">
<div class="fl_icn_g" style="width:50px;">
<a href="http://www.baidu.cn"><img src="http://songshushequ.qiniudn.com/common_51_icon.png" align="left" alt="" /></a></div>
<dl style="margin-left: 75px;">
<dt><a href="http://www.baidu.cn">森林水区</a></dt>
<dd><p class="xg2">属性</p></dd>
<dd><em>属性</em>, <em>属性</em></dd><dd>
<a href="http://www.baidu.cn">属性</a>
</dd>
</dl>
</td>
</tr>
</table>
