$def with (region, weather, air_condition,  rows)

$var region:$region
$var weather:$weather
$var air_condition:$air_condition

$def tr(values):
    <tr>
    $for ele in values:
        <td class="fl_g" width="30%">
        <div class="fl_icn_g" style="width:300px;">
        <dt><a href=$ele['link']><img src=$ele['img'] width="300" height="300" align="center" alt="" /></a></dt>
        <dt><a href="http://www.baidu.cn" align="left"><p class="dec" align="left">$ele['desc']</a></dt>
        <dd> <a href="http://www.baidu.cn"><p class="desc" align="left">$ele['test_word']</p></a> </dd>
        </div>
        </td>
    </tr>

$def table(rows):
    <table>
    $for row in rows:
        $:row
    </table>

$ data = [{'link':'http://www.baidu.cn', 'img':'/static/images/aa.jpg', 'desc':'good_air_condition', 'test_word':'test_work', 'test_link':'www.baidu.cn'}, {'link':'http://www.baidu.cn', 'img':'/static/images/aa.jpg', 'desc':'good_air_condition', 'test_word':'test_work', 'test_link':'www.baidu.cn'} ]
$:table([tr(d) for d in rows])

<script>
   <!--
   function goto_page() {
	   var v = document.getElementById("go").value
	   if(v==''){
		   return false;
	   }
	   window.location = '?product=' + v;
   }
   -->
</script>


<div style="float:left;">
<div class="pagination">
	<a href="?product=1">«</a> <a href="?product=2">2</a> <a href="?product=3">3</a> <a href="?product=4">»</a></div>
</div>

<div style="float:left;padding:2px 5px 0px 5px"> 到第 <input name="go" id="go" style="border:#FF6699 solid 1px;" type="text" size="4" /> 页</div>
<div style="float:left;padding:0px 5px 0px 5px"><input name="gobtn" type="button" value="确定" onclick="goto_page();" /></div>
<div class="clear"></div>

