$def with (region, weather, air_condition)

$var region:$region
$var weather:$weather
$var air_condition:$air_condition

<table cellspacing="0" cellpadding="0" class="fl_tb">
<tr><td class="fl_g" width="20%">
</td>
<td class="fl_g" width="20%">
</td>
<td class="fl_g" width="40%">
<div class="fl_icn_g" style="width:500px;">
<a
	href="http://detail.m.tmall.com/item.htm?ali_trackid=2%3Amm_106280302_8364503_29040250%3A1419852137_3k8_85399485&id=35496156112&type=2&e=zGU0g6e1d7xnyW5i7tVTF31X3gHkAFfGbIfE4KenF8%2FE1wbNs0tcoVuOVNZBuThHTEax6848rFChWLf2NG7aLvioywjbkKfUt21RUHh2BK%2FUqUibNYItB8vcgwzR1Vv1JbW%2Bt1mZDkxW4qq4LA7rpnMWZdcPZMlzoXMePQgJbtrX8XJH107N&clk1=5a4eba047ff86e16155ef8ca901eae7f#gallery-desc"><img src="/static/images/aa.jpg" width="300" height="300" align="left" alt="" /></a></div>
<dl style="margin-left: 155px;">
<dt><a href="http://www.baidu.cn">夏普空气净化器</a></dt>
<dd><p class="xg2">属性</p></dd>
<dd><em>属性</em>, <em>属性</em></dd><dd>
<a href="http://www.baidu.cn">属性</a>
</dd>
</dl>
</td>
</tr>
</table>
